<div id="holidayFormDialog"></div>

<%=content_for :sidebar do %>
	<dl id="calendar-key">
	<% @holiday_status.each do |status| %>
	  <%= content_tag :dt, status.status %>
	  <%= content_tag :dd, '&nbsp;', :style => "background-color: #{Absence::HOL_COLOURS[status.id - 1]}; border: 1px solid #{Absence::BORDER_COLOURS[status.id - 1]};".html_safe %>
	<% end %>
	</dl>
<% end %>

<!-- <select id="calendar_filter">
	<option value="TEAM">My Team's absences</option>
	<option value="ALL">Everyone's absences</option>
	<option value="ME">My absences</option>
</select> -->

<div id="calendar"></div>