<h5>Manager and Collegues</h5>
<ul>
   <% users_off_on_given_day(current_user.manager_id, date).each do |user| %> 
     <li><%= user.full_name %></li>  
   <% end %>  
</ul>
<h5>Your Team</h5>
<ul>
   <% users_off_on_given_day(current_user.id, date).each do |user| %>  
     <li><%= user.full_name %></li> 
   <% end %>
</ul>
